*{
    margin: 0;
    padding: 0;
    font-family: consolas;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
    user-select: none;
}
.input_box{
    position: relative;
    width: 450px;
}
h2{
    font-size: 28px;
    color: #eee;
}
input{
    position: relative;
    width: 100%;
    height: 60px;
    border: none;
    margin: 15px 0 20px;
    background: transparent;
    outline: none;
    padding: 0 20px;
    font-size: 24px;
    letter-spacing: 4px;
    box-sizing: border-box;
    border-radius: 8px;
    color: #fff;
    box-shadow: -4px -4px 10px rgba(0, 0, 0, 1), inset 4px 4px 10px rgba(0,0,0, 0.05) , inset -4px -4px 10px rgba(0,0,0, 1),
                4px 4px 10px rgba(0,0, 0, 0.05);
}
input::placeholder{
    color: #fff;
    letter-spacing: 0px;
}
.btn{
    position: relative;
    cursor: pointer;
    color: #eee;
    font-size: 24px;
    display: inline-block;
    padding: 10px 15px;
    background: #fd23f4;
    border-radius: 8px;
}
.btn:active{
    background-color: #9c279c;
}
.copy{
    position: relative;
    top: -77px;
    right: -90%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.copy:hover{
    opacity: 1;
}
.alertBox{
    position: fixed;
    top: 80%;
    left: 40%;
    width: 20%;
    height: 100px;
    background: #434343;
    color: #fff;
    text-align: center;
    font-size: 4em;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display{
    display: flex;
}
p{
    font-size: 30px;
    text-align: center;
}